* {
  margin: 0;
  padding: 0; }

h1 {
  color: #ff14d4;
  font-family: 'Rubik';
  font-size: 64px;
  padding-bottom: 2rem; }

.flex-center {
  display: flex;
  justify-content: center; }

main .formulario__nombre .formulario__div__row .formulario__div__column, main .formulario__nombre .formulario__div__row .formulario__apellido, main .formulario__nombre .formulario__ultima__seccion {
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 500px) {
  main .formulario__nombre .formulario__div__row {
    color: #454545;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: none; }
    main .formulario__nombre .formulario__div__row .formulario__div__column {
      margin-bottom: 3vh;
      margin-right: 0px;
      display: flex;
      flex-direction: column; }
      main .formulario__nombre .formulario__div__row .formulario__div__column .formulario__placeholder {
        height: 47px;
        justify-content: center;
        padding-left: 1rem; }
    main .formulario__nombre .formulario__div__row .formulario__apellido {
      margin-bottom: 3vh;
      margin-left: 0px;
      display: flex;
      flex-direction: column; }
      main .formulario__nombre .formulario__div__row .formulario__apellido .formulario__placeholder {
        height: 47px;
        justify-content: center;
        padding-left: 1rem; }
  main .formulario__nombre .formulario__ultima__seccion {
    margin-top: 2vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column; }
    main .formulario__nombre .formulario__ultima__seccion .btn {
      display: flex;
      justify-content: center;
      width: 17vh;
      background-color: black;
      color: #d0d0d0;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      border: 1px solid #d0d0d0;
      padding-left: 2rem;
      padding-right: 2rem; }
      main .formulario__nombre .formulario__ultima__seccion .btn:hover {
        background: radial-gradient(#ff14d4, #c210a1);
        color: #d0d0d0; }
  .main-estudios img {
    width: 200px; }
  .skills__row div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; } }

.flex-center {
  display: flex;
  justify-content: center; }

main .formulario__nombre .formulario__div__row .formulario__div__column, main .formulario__nombre .formulario__div__row .formulario__apellido, main .formulario__nombre .formulario__ultima__seccion {
  display: flex;
  flex-direction: column; }

.flex-center {
  display: flex;
  justify-content: center; }

main .formulario__nombre .formulario__div__row .formulario__div__column, main .formulario__nombre .formulario__div__row .formulario__apellido, main .formulario__nombre .formulario__ultima__seccion {
  display: flex;
  flex-direction: column; }

.main__bg {
  min-height: 90vh;
  min-width: 100vw;
  background-image: url("../../img/bg-index-design.png");
  background-size: cover;
  margin: 0%; }
  .main__bg h1 {
    color: #ff14d4;
    text-align: start;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 10%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 5rem; }
  .main__bg .subtitulo__index {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    color: #4c4c4c;
    padding-left: 10%; }

a:hover {
  background-color: #ff14d4;
  transition: all 0.9s ease; }

.btn {
  background-color: black;
  color: #d0d0d0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #d0d0d0;
  padding-left: 2rem;
  padding-right: 2rem; }

button:hover {
  background-color: #ff14d4; }

.btn:hover {
  background: radial-gradient(#ff14d4, #c210a1);
  color: #d0d0d0; }

.main__aboutme {
  padding-top: 5vh; }
  .main__aboutme .div__holasoy {
    padding-top: 5vh; }
  .main__aboutme .about__meimg {
    padding-top: 5vh;
    padding-bottom: 5vh; }
  .main__aboutme .aboutme__adobe {
    padding-top: 2vh;
    padding-bottom: 5vh; }
    .main__aboutme .aboutme__adobe img {
      width: 10vh;
      padding-top: 5vh; }

.flex-center {
  display: flex;
  justify-content: center; }

main .formulario__nombre .formulario__div__row .formulario__div__column, main .formulario__nombre .formulario__div__row .formulario__apellido, main .formulario__nombre .formulario__ultima__seccion {
  display: flex;
  flex-direction: column; }

main {
  margin-top: 5vh;
  margin-bottom: 5vh; }
  main .formulario__nombre .formulario__div__row {
    color: #454545;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    main .formulario__nombre .formulario__div__row .formulario__div__column {
      margin-bottom: 3vh;
      margin-right: 2vh; }
      main .formulario__nombre .formulario__div__row .formulario__div__column .formulario__placeholder {
        height: 47px;
        justify-content: center;
        padding-left: 1rem; }
    main .formulario__nombre .formulario__div__row .formulario__apellido {
      margin-bottom: 3vh;
      margin-left: 2vh; }
      main .formulario__nombre .formulario__div__row .formulario__apellido .formulario__placeholder {
        height: 47px;
        justify-content: center;
        padding-left: 1rem; }
  main .formulario__nombre .formulario__ultima__seccion {
    margin-top: 2vh;
    margin-bottom: 5vh; }
    main .formulario__nombre .formulario__ultima__seccion .btn {
      display: flex;
      justify-content: center;
      width: 17vh;
      background-color: black;
      color: #d0d0d0;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      border: 1px solid #d0d0d0;
      padding-left: 2rem;
      padding-right: 2rem; }
      main .formulario__nombre .formulario__ultima__seccion .btn:hover {
        background: radial-gradient(#ff14d4, #c210a1);
        color: #d0d0d0; }

.bg__contact {
  background-color: #d0d0d0;
  color: #ff14d4; }

.flex-center {
  display: flex;
  justify-content: center; }

main .formulario__nombre .formulario__div__row .formulario__div__column, main .formulario__nombre .formulario__div__row .formulario__apellido, main .formulario__nombre .formulario__ultima__seccion {
  display: flex;
  flex-direction: column; }

h1 {
  font-size: 3rem;
  color: #ff14d4;
  font-family: "Rubik"; }

a:hover {
  background-color: #ff14d4;
  transition: all 0.9s ease; }

.btn {
  background-color: black;
  color: #d0d0d0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #d0d0d0;
  padding-left: 2rem;
  padding-right: 2rem; }

button:hover {
  background-color: #ff14d4; }

.btn:hover {
  background: radial-gradient(#ff14d4, #c210a1);
  color: #d0d0d0; }

footer .newsletter__footer {
  padding-bottom: 2%; }

footer .newsletter__email {
  padding: 1%;
  width: 15vw;
  height: 3vh; }

footer .btn__sendFooter {
  background-color: black;
  color: #d0d0d0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #d0d0d0;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 20%; }
