main{
    .formulario__nombre{
        .formulario__div__row{
            color: $color-principal;
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            .formulario__div__column{
                margin-bottom: 3vh;
                margin-right: 2vh;
                display: flex;
                flex-direction: column;

                .formulario__placeholder{
                    height: $placeholder;
                    justify-content: center;
                    padding-left: 1rem;
                }
            }
        
            .formulario__apellido{
                margin-bottom: 3vh;
                margin-left: 2vh;
                display: flex;
                flex-direction: column;

                .formulario__placeholder{
                    height: $placeholder;
                    justify-content: center;
                    padding-left: 1rem;
                }
                
            }
        }

        .formulario__ultima__seccion{
            margin-top: 2vh;
            margin-bottom: 5vh;
            display: flex;
            flex-direction: column;


            .btn {
                display: flex;
                justify-content: center;
                width: 17vh;
                background-color: black;
                color: #d0d0d0;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                border: 1px solid #d0d0d0;
                padding-left: 2rem;
                padding-right: 2rem;

                &:hover{
                    background: radial-gradient(rgb(255, 20, 212), rgb(194, 16, 161));
                    color: #d0d0d0;
                }
            }
        }
    }

}

@media screen and (max-width: 500px){
    main{
        
        .formulario__nombre{
            .formulario__div__row{
                color: $color-principal;
                display: flex;
                flex-direction: column;
                justify-content: center;
                grid-template-columns: none;
                
                .formulario__div__column{
                    margin-bottom: 3vh;
                    margin-right: 0px;
                    display: flex;
                    flex-direction: column;
    
                    .formulario__placeholder{
                        height: $placeholder;
                        justify-content: center;
                        padding-left: 1rem;
                    }
                }
            
                .formulario__apellido{
                    margin-bottom: 3vh;
                    margin-left: 0px;
                    display: flex;
                    flex-direction: column;
    
                    .formulario__placeholder{
                        height: $placeholder;
                        justify-content: center;
                        padding-left: 1rem;
                    }
                    
                }
            }
    
            .formulario__ultima__seccion{
                margin-top: 2vh;
                margin-bottom: 5vh;
                display: flex;
                flex-direction: column;
    
    
                .btn {
                    display: flex;
                    justify-content: center;
                    width: 17vh;
                    background-color: black;
                    color: #d0d0d0;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    border: 1px solid #d0d0d0;
                    padding-left: 2rem;
                    padding-right: 2rem;
    
                    &:hover{
                        background: radial-gradient(rgb(255, 20, 212), rgb(194, 16, 161));
                        color: #d0d0d0;
                    }
                }
            }
        }
    
    }
}