@media screen and (max-width: 500px){
    
    .main__bg{
        min-height: 100vh;
        min-width: 100vw;
        background-image: url("./img/Copia\ de\ Fondo\ marzo.jpg");
        background-size: cover;
    }

    .titulo__index{
        color: rgb(255, 255, 255);
        text-align: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: none;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        font-size: 5rem;
    }

    .subtitulo__index{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        color: dimgrey;
        padding-left: none;
        text-align: center;
    }

    .diploma__img{
        max-width: 1vw;
        border: none;
    }

    h1{
        color: rgb(255, 20, 212);
        font-family: 'Rubik';
        font-size: 48px;
        padding-bottom: 1rem;
        text-align: center;
    }

    .main__aboutme{
        padding-top: 9vh;
    }

    .div__holasoy{
        padding-top: 2vh;
    }

    .about__meimg{
        padding-top: 2vh;
        padding-bottom: 5vh;
        width: 100vw;
    }

    .aboutme__adobe img{
        width: 15vh;
        padding-top: 5vh;
    }

    .newsletter__footer{
        padding-bottom: 2%;

    }
    
    .newsletter__email{
        padding: 2%; 
        width: 90vw; 
        height: 5vh;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        align-items: center;
    }

    .btn__sendFooter{
        background-color: black;
        color: #d0d0d0;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        border: 1px solid #d0d0d0;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 50%;
    }
}