$color-principal: #454545;
$flex-column: row;
$placeholder: 47px;

// MAPA
$tamanio-tipografia:(
    title: 5rem,
    subtitle: 3rem,
    paragraph: 1rem,
);

$familia-tipo:(
    rubikfam: 'Rubik',
);

$colores:(
    color-1: #FF14D4,
    color-2: rgb(76, 76, 76),
    color-3: black,
    color-4: rgb(254, 246, 11),
);

// Extend
// %flex-center{
//     display: flex;
//     justify-content: center;
// };

@mixin flex-center {
    display: flex;
    justify-content: center;
}

%flex-center {
    @include flex-center()
}

.flex-center {
    @extend %flex-center
}